modules = ["nodejs-20", "web"]
run = "npm run dev"

[nix]
channel = "stable-24_05"

[deployment]
run = ["sh", "-c", "npm run start"]
build = ["sh", "-c", "npm run build"]
deploymentTarget = "cloudrun"

[[ports]]
localPort = 3000
externalPort = 80

[[ports]]
localPort = 8099
externalPort = 8099

[[ports]]
localPort = 8243
externalPort = 3000

[[ports]]
localPort = 8678
externalPort = 3001

[deploy]
ignored = ["public/design"]
